# Local files
.virtual_documents/

# venv
myenv/
.ipynb_checkpoints

# Data
data/*
!data/.gitkeep

# Logs
lightning_logs/
tb_logs/
checkpoints/

# Saved results
experiments/results/*
!experiments/results/.gitkeep

# Custom python packages
*.egg-info

# Python
__pycache__/
*.pyc
